{% extends "main.html" %}
{% block content %}
{% include "sub_header.html" %}


<!--Catagories Section-->

<div class="container">
	<div class="row">
		<div class="col-lg-3">
        	<h1 class="my-4">Categories</h1>
          <div class="list-group">
            
		  	<a href = "{{url_for('showCatagory', catagory_name = catagory.name)}}" class="list-group-item">{{catagory.name}}</a>
			
			{%if 'username' in session %}
			<a href="{{url_for('newCatagory')}}" class="list-group-item"> Add a catagory </a>
			{% endif %}
          </div>
        </div>
        <div class="col-lg-9">
        <h1 class="my-4">Are you sure you want to delete {{catagory.name}}?</h1>
		    <form action="#" method = 'post'>

				<button type="submit" class="btn btn-default btn_edits" id="submit" type="submit">Delete</button>
				<a href = '{{url_for('showMain')}}'>
				<button class="btn btn_edits">Cancel</button></a>

			</form>
        </div>
    </div>
</div> 

{% include "footer.html" %}	
{% endblock %}