	<!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
      <div class="row  m-0 text-center text-white">
      	<div class="col-lg-4 left">
			      <h4>Shop Location</h4>
			      <p>59 Parkway South St, Longmeadow Business Estate, Johannesburg</p>
			    </div>
			    <div class="col-lg-4 left">
			      <h4>Contact</h4>
			      <p> Call: 011 608 1224 <br>
			        Email : <a href="evermoreza@gmail.com"> Evermoreza@gmail.com </a></p>
			    </div>
			    <div class="col-lg-3 right">
			      <p>© 2018 All rights reserved.<br>
			         Made by <a href="http://www.omnitek-fus.com/">OmniTek-Fus.</a></p>
			    </div>
      	

      </div>
      </div>
      <!-- /.container -->
    </footer>