
{% extends "main.html" %}
{% block content %}
{% include "sub_header.html" %}

<div class="container">
	<div class="row">
		<div class="col-lg-3">
        	<h1 class="my-4">Categories</h1>
          <div class="list-group">
          	{% for cat in catagory %}
		  	<a href = "{{url_for('showCatagory', catagory_name = cat.name)}}" class="list-group-item">{{cat.name}}</a>
			{% endfor %}
          </div>
        </div>
        <div class="col-lg-9">
        <h1 class="my-4">New Catagrory</h1>

		  	<div class="card mt-4">
            	<div class="card-body">
            		<div class="row">
						<div class="col-lg-6 col-md-offset-1 padding-top">
							<form action="#" method = "post">
								<div class="form-group">
								<label for="name">Name:</label>
								<input type ="text" class="form-control" maxlength="100" name="name">
								<label for="description">Description:</label>
								<input type ="text" class="form-control" maxlength="250" name="description">
								<div class="padding-bottom"></div>
								<button type="submit" class="btn btn_edits" id="submit" type="submit">Create</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
         </div>
    </div>
</div>

{% include "footer.html" %}	
{% endblock %}